.jumbotron {
    padding-top: 4rem;
    padding-bottom: 0rem;
    background-color: aquamarine;
}
html {
    scroll-behavior: smooth;
  }
  
  section {
    scroll-margin-top: 80px;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
  }